body, section{
    margin: 0;
    padding: 0; 
    color: var(--grey); 
    overflow-x: hidden;
    scroll-behavior: smooth; 

}

*{
    font-family: inter;
    
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
}
  
h1,h2,h3,h4,h5,p{
    cursor:default;
}

section{
    margin: 0
}
:root{
    --color-primary: #131313;
    --color-secondary: #d0a003; 
    --tertiary: #212121;
    --grey: #bbbbbb;
    --dark:  #343434
}


 
 
/* NAV */

nav{  
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
.navs{ 
    display: flex; 
    position: fixed; 
    justify-content: center;
    align-items: center; 
    z-index: 10000;
    transition: 0.6s;
    height: 90px;
    margin-top: 25px;
    

}


.name{
    margin-left: 15px;
    position: relative;
    font-size: 30;
}


.navs a{
    margin: 0 15px;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 17px
}

.navs a:hover{ 
    background: linear-gradient(to right, var(--color-secondary), #ff6600); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: .4s;
}
 

.navs.sticky
{   
    padding: 5px 15px;
    background-color: var(--tertiary);
    transition: .3s;
    border-radius: 70px;
    height: 60px;
    
}

@media (max-width: 680px){
    .navs a{
        font-size: 14px;
    }

    .navs{
        margin-top: 15px;
    }
    
}

@media(max-width: 420px){
    .navs a{
        margin: 0 5px;
    }
}
/* NAV END */


@keyframes fade-left {
    0%{
        opacity: 0;
        transform: translateX(300px) scale(1);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

@keyframes fade-right {
    0%{
        opacity: 0;
        transform: translateX(-300px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(150px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
} 
/* HERO */
.index{
    height: 100vh;
    width: 100%;
    background-color: var(--color-primary); 
    display: flex;  
    justify-content: center;
    align-items: center;

} 

 
.intro{ 
    flex-wrap: wrap;  
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.pretext, .main-text, .aftertext{
    font-size: 68;
    flex-wrap: wrap;
}
.pretext{ 
    animation: fade-right .4s;  

}
.main-text{  
    color: var(--color-secondary);
    animation: fade-right 1s;  
}

.aftertext{
    width: 550px;
    margin-bottom: 30px;  
    animation:  fade-right 2s; 
}
.description{
    font-size: 15;
    animation: fade-left 3s;
    letter-spacing: 0.25mm;
} 

@media (max-width: 900px){

    .home-text{ 
    }
    .home-img{
        display: none;
    }
    .aftertext{ 
        font-size: 18; 
        width: 90%
    }
}
.text-gradient {

   background: linear-gradient(to right, var(--color-secondary), #ff6600); 
   -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative; 
    font-weight: bold; 
    z-index: 1;
}

.text-gradient:before {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: -2px;
   width: 100%;
   color: 50px;
   background-color: #000000;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
}

.text-gradient:after {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 2px;
   width: 100%;
   color: 50px;
   background-color: #000000;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
}


/* HERO END */

/* ABOUT */

.about{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: var(--color-primary);
    height: auto

} 
.about-text{   
    display: flex;
    flex-direction: column;  
    font-size: 15;
    letter-spacing: 0.25mm;
}


.story-container{
    display:flex;
    justify-content: space-around   ;
    align-items: center;   
}

.dokeibi{
    width: 340px; 
    border-radius: 50%;
}

.dokeibi:hover{
    box-shadow: 0 0 30px var(--color-secondary);
    transition: .5s;
}

@media (max-width: 1024px){
    .dokeibi{
        width: 320px
    }
    .story-container{
        margin: 30px;
        flex-direction: column;
    }
    .about-text{ 
        width: 95%; 
    }
}

/* END OF ABOUT */

/* SKILLS */

.skill{
    padding: 6px 5;
    height: fit-content;
    width: fit-content;
    background-color: #2a2a2a;
    margin-right: 7px;
    border-radius: 3px;
    font-size: 14px;
}
.skills{
    width: 100%;
    background-color: var(--color-primary)
}

.heading{
    text-decoration: underline var(--color-secondary) solid;
    text-underline-offset: 30%;
    display: flex; 
    padding: 50px 0;
    color: whitesmoke;
 
    font-size: 20;
    margin-top: 30px;
}
 
 
.skill-cards{ 
    display: flex; 
    flex-wrap: wrap;
    height: auto;
} 



/* PROJECTS */

.projects{
    width: 100%;
    background-color: var(--color-primary);
}

.project-cards{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    height: auto;
}
.project-card{
    width: 620px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 230px;
    background-color: var(--dark); 
    border-radius: 5px; 
    padding: 10 0;
    
    color:rgb(177, 177, 177);
}

.project-card:hover{
    border: 1px solid var(--grey);
     
    transition: .5s
}
.project-content  {  
    height: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    text-align: center;
    margin: 10px;
    
}

.project-content:hover{ 
    transition: .5s ; 

}

.project-title{
    font-weight: 500;
    font-size: 21px;
    margin: 10px;
    color: whitesmoke;
    ;
}
 

.project-links{ 
}

.github, .website{
    
    text-decoration: none;
    color: var(--grey);
    margin: 0 3px
}

.project-link-wrapper {
    color: unset;
    text-decoration: unset;
    cursor: pointer;
}
.project-link-wrapper:hover {
    color: unset;
    text-decoration: unset;
}



/* PROJECT END */

.experience{

    height: auto;
    background-color: var(--color-primary);
}

@media(max-width: 770px){
    .experience-container{
    flex-direction: column;
    }
}
.work-info{ 

}

.timeline{
    width: 380px
}
.organisation, .position{
    color: whitesmoke
}

.job-des{
    margin-right: 10px;
    font-size: ;
}
@media (max-width: 1024px) {
    .about .title{
        font-size: 40
    }
    .about-content{
        font-size: 18;
        margin-top: 17;
        flex-direction: column;
    }

    .card-content{
        width: 260px
    }
} 

@media (max-width: 600px) { 
    .heading{
        margin: 30px 0
    } 
    .blogposts{  
        margin: 0 5px
    }
    .card-texts{
        margin-top: -3px;
    }

    .card-description{
        display: none;
    }
    .card{
        margin-left: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: unset;
        margin-left: 0px;
    }

    .card-content{
        width: 100%;     
        height: 150px;
        flex-direction: unset;
        margin-left: 15; 
        border-radius: 0;
    }    
    
    .card-img{
        max-width: 25%;
        height: 100%;
        margin-right: 10px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0

    }

    .card-title{
        font-size:19
    }
}
.contacts{
    height: auto;
   padding-bottom: 20px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-content: center;
}
.contact-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around   ;
}

.heading{ 
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input, textarea{
    width: 610px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: black;
    color:white;
    font-size: 17;
    padding:  5px 0 8px 8px;
}

form input{
    height: 35px;
}

textarea{
    height: 220px;
}




form button{    
    padding: 9px 22px;
    border-radius: 5px; 
    font-size: 17px;
    border-color: unset;
    background: var(--color-secondary);

    
}
@media(max-width: 720px){
    form input, textarea{
        width: 420px;
        font-size: 14px;
    }
    form button{
        padding: 6px 14px;
        font-size: 15;
    }
}

@media (max-width: 360px){
    form input, textarea{
       width: 320px
    }   
   }
form button:hover{
    background-color: #b58a00;
}

.socials{
    display:flex;

}
.comm-list{
    font-size: 19px;
    margin-bottom: 15px;
}



i{
    padding: 13px;
} 
.handles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials{
display: flex;
align-items: center
}
.handle-logo{
    width: 45px;
    margin: 0 12px;
    margin-bottom: 30px;
}

@media (max-width:480px){
    .handle-logo{
        width: 35px;
    }}
@media(max-width:1024px){
    .contact-container{
        flex-direction: column;

    }
    .handles{
        align-items: center;
    }
}
