body, section{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;

}

section{
    margin: 0
}
:root{
    --color-primary: rgb(0, 0, 128);
    --color-secondary: #d0a003;
    --color-tertiary: rgb(15, 15, 68);
}

.navbar{
    height: 60px;
    display: flex;
    background-color: var(--color-secondary);
    justify-content: space-between;
    align-items: center;

}

.navbar i{
    margin-left:30px
}

.c{
    margin-right: 20px;
}
.navs a{
    margin: 0 30px; 
    text-decoration:dashed;
    color: unset;
    font-size: 25px;
}

.navs a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.navs{
    margin-right: 20px;
    
}

.hero{
    height: 94vh;
    background-image: url('images/87417.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.img{
    
}
.intro{
    margin:auto 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-text{
    
}
.pretext{
    font-size: 25px;
    margin-bottom: -45px; 
}
.main-text{
    font-size: 45px;
    margin-bottom: -10px;
    color: var(--color-secondary);
}
.aftertext{
    width: 380px;
    margin-bottom: 30px; 
}

.hero-img{
    width: 520px
}

@media (max-width: 1024px){
    .navs a{
        display:none
    }
    .hero-img{
        width: 430px;
        display: none
    }
}

@media (max-width: 900px){
    .intro{
        flex-direction: column-reverse;
    }

    .pretext{
        font-size: 18;
        
    }
    .aftertext{
        font-size: 16px;
    }
}
.hire{
    position: relative;
    padding: 13px 30px;
    background: var(--color-secondary);
    text-decoration: none;
    border-radius: 10px;
    color: white;
}

.hire:hover{
    background-color: #b58a00;
}



.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    background-color: var(--color-tertiary);
} 
.about-text{
    margin-top: -20px;
    width: 60%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: sans-serif; 
}
p
.story{
    font-size: 26px; 
}
.story-container{
    display:flex;
    justify-content: space-around   ;
    align-items: center;
}

.dokeibi{
    width: 280px
}
.skills{
    width: 100%;
    background-color: var(--color-primary)
}

.communication{
    text-align: center;
    margin-bottom: 25px
}
.heading{
    text-decoration: underline var(--color-secondary) solid;
    text-underline-offset: 30%;
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
    font-size: 30; 
}

.cards{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-container{
    width: 210px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px
    

}
 
.card-img-container{
    width: 130px;
    height: 125px; 
    border-radius: 5px;
    background-color: var(--color-secondary);
    margin-bottom: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(15, 15, 68, 0.5) 10px -10px
}


.svg-image{
    width: 95px
}
.card-title{
    margin-bottom: -5px
}
.card-des{
    text-align: center;
    font-size: 14px;
}

.techstacks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px
}
.lang{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px
}
.skill-svg{
    width: 45px; 
    margin: 0 20px;
}

.reviews{
    width: 100%;
    height: auto;
    background-color: var(--color-tertiary);
}

.review-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 130px;
    width: 100%;
    margin-bottom: 35px;

}

.review-card{
    width: 310px;
    min-height: 340px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    box-shadow: rgba(0, 0, 128, 0.2) 20px -20px;
    margin: 0 30px
}

.review-card:hover{
    margin-top: -20px;
    margin-bottom: 20px;
    transition: 0.6s;
}
 

.review-img-container{
    width: 120px;
    height: 120px; 
    border-radius: 50%;
    position: relative;
    margin-top: -60px;
}
.review-detail{
    font-size: 19;
}
.review-detail, .review-text{
    margin: 0 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.name{ 
    margin-bottom: -10px;
}

.review-text{
    font-size: 18px;
}



.contacts{
    height: 80vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-content: center;
}
.contact-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around   ;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input, textarea{
    width: 610px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: black;
    color:white;
    font-size: 17;
    padding:  5px 0 8px 8px;
}

form input{
    height: 35px;
}

textarea{
    height: 220px;
}

form button{    
    padding: 9px 22px;
    border-radius: 5px; 
    font-size: 17px;
    border-color: unset;
    background: var(--color-secondary);

}

form button:hover{
    background-color: #b58a00;
}

.socials{
    display:flex;

}
.comm-list{
    font-size: 19px;
    margin-bottom: 15px;
}

li{
    list-style-type: none;
}

i{
    padding: 13px;
} 
.handles{
    display: flex;
    flex-direction: column;
}

.handle-logo{
    width: 45px;
    margin: 0 12px;
}