body, section{
    margin: 0;
    padding: 0; 
    color: var(--grey); 
    overflow-x: hidden;
    font-size: 14;
    scroll-behavior: smooth;
    letter-spacing: 0.25mm;

}

*{
    font-family: inter;
    
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
}
  
h1,h2,h3,h4,h5,p{
    cursor:default;
}

section{
    margin: 0
}
:root{
    --color-primary: #131313;
    --color-secondary: #d0a003; 
    --tertiary: #242424;
    --grey: #bbbbbb;
    --dark:  #343434
}


 
 
/* NAV */

nav{  
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
.navs{ 
    display: flex; 
    position: fixed; 
    justify-content: center;
    align-items: center; 
    z-index: 10000;
    transition: 0.6s;
    height: 90px;
    margin-top: 25px;
    

}


.name{
    margin-left: 15px;
    position: relative;
    font-size: 30;
}


.navs a{
    margin: 0 15px;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 17px
}

.navs a:hover{ 
    background: linear-gradient(to right, var(--color-secondary), #ff6600); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: .4s;
}
 

.navs.sticky
{   
    padding: 5px 15px;
    border: 1px solid var(--grey);
    background: rgba(189, 183, 183, 0.2);
    box-shadow: 0 40x 30px #212121, 0.5; 
    backdrop-filter: blur(10px);
    transition: .3s;
    border-radius: 70px;
    height: 60px;
    
}

@media (max-width: 680px){
    .navs a{
        font-size: 14px;
    }

    .navs{
        margin-top: 15px;
    }
    
}

@media(max-width: 480px){
    .navs a{
        margin: 0 5px;
    }
}
/* NAV END */


@keyframes fade-left {
    0%{
        opacity: 0;
        transform: translateX(300px) scale(1);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

@keyframes fade-right {
    0%{
        opacity: 0;
        transform: translateX(-300px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(150px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
} 
/* HERO */
.index{
    height: 100%;
    width: 100%;
    background-image: url('https://i.pinimg.com/736x/44/66/ab/4466ab764530ff148c63aff0b72183c9.jpg');
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 

 
.intro{ 
    flex-wrap: wrap;  
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
}
.pretext, .main-text, .aftertext{
    font-size: 70;
    flex-wrap: wrap;
}
.pretext{ 
    animation: fade-right .4s;  

} 
.aftertext{ 
    margin-bottom: 30px;  
    animation:  fade-right 2s; 
}

@media(max-width: 1024px){
    .pretext, .aftertext{
        font-size: 55;
    }
    .after
}


.description{
    font-size: 20;
    animation: fade-left 3s;
    letter-spacing: 0.25mm;
} 

@media (max-width: 900px){

    .aftertext{  
        width: 90%
    }
    .description{
        font-size: 15px;
    }
}

@media (max-width:900px){
    .pretext, .aftertext{
        font-size: 45px;
    }
}

@media (max-width:420px){
    .pretext, .aftertext{
        font-size: 40px;
    }
}
.text-gradient {

   background: linear-gradient(to right, var(--color-secondary), #ff6600); 
   -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative; 
    font-weight: bold; 
    z-index: 1;
}

.text-gradient:before {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: -2px;
   width: 100%;
   color: 50px;
   background-color: #000000;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
}

.text-gradient:after {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 2px;
   width: 100%;
   color: 50px;
   background-color: #000000;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
}


/* HERO END */

/* ABOUT */

.about{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: var(--color-primary);
    height: auto

} 
.about-text{   
    display: flex;
    flex-direction: column;  
    font-size: 15;
    letter-spacing: 0.25mm;
}


.story-container{
    display:flex;
    justify-content: space-around   ;
    align-items: center;   
}

.dokeibi{
    width: 340px; 
    border-radius: 50%;
}

.dokeibi:hover{
    box-shadow: 0 0 30px var(--color-secondary);
    transition: .5s;
}

@media (max-width: 1024px){
    .dokeibi{
        width: 320px
    }
    .story-container{ 
        flex-direction: column;
    } 
}

/* END OF ABOUT */

/* SKILLS */
.skill{
    padding: 6px 5;
    height: auto;
    width: fit-content;
    background: #d0a0031d;
    box-shadow: 0 40x 30px #212121, 0.3; 
    margin-right: 7px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    font-size: 14px;
}
.skills{
    width: 100%;
    background-color: var(--color-primary)
}

.heading{
    text-decoration: underline var(--color-secondary) solid;
    text-underline-offset: 30%;
    display: flex; 
    padding: 30px 0;
    color: whitesmoke;
 
    font-size: 20;
    margin-top: 20px;
}
 
 
.skill-cards{ 
    display: flex; 
    flex-wrap: wrap;
    height: auto;
} 



/* PROJECTS */

.projects{
    width: 100%;
    background-color: var(--color-primary);
}

.project-cards{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    height: auto;
}
.project-card{
    width: 580px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 230px;
    background-color: var(--tertiary); 
    border-radius: 5px; 
    padding: 10 0;
    
    color:rgb(177, 177, 177);
}

.project-card:hover{
    border: 1px solid var(--grey);
     
    transition: .5s
}
.project-content  {  
    height: 100%;
    
    display: flex;
    flex-direction: column;  
    justify-content: center;
    text-align: center;
    margin: 10px;
    
}

.project-content:hover{ 
    transition: .5s ; 

}

.project-title{
    font-weight: 500;
    font-size: 21px;
    color: whitesmoke;
    ;
}

.project-stack{
    font-size: 16;
}

@media(max-width: 640px){
    .project-stack{
        font-size: 14px
    }
}

.project-stack, .project-title, .project-links{
    margin: 10px

}



.project-links-wrapper{ 
    height: 100%;
}

.github, .website{
    
    text-decoration: none;
    color: var(--grey);
    margin: 0 3px
}

.project-link{
    width: 16px;
    margin: 0px 10px;
    text-decoration: none;
}

@media (max-width: 768px){
    .project-link{
        margin: 0px 5px
    }

}
.project-link-wrapper {
    color: unset;
    text-decoration: unset;
    cursor: pointer;
}
.project-link-wrapper:hover {
    color: unset;
    text-decoration: unset;
}



/* PROJECT END */

.experience{

    height: auto;
    background-color: var(--color-primary);
}


.experience-container{
    margin-top: 40px
}
@media(max-width: 770px){
    .experience-container{
    flex-direction: column;
    }

    .organisation{
        margin: 10px 0 0;
    }
    .position{
        margin-bottom: 10px
    }
}

.timeline{
    min-width: 190px;
    color: var(--color-secondary);

    
}

.job-skill{
    color: var(--color-secondary)
}
.organisation, .position{
    font-size: 18px;
    color: whitesmoke
}

.job-des{
    margin-right: 10px;
    font-size: ;
}

@media (max-width: 600px) { 
    .heading{
        margin: 30px 0
    }  

    .card-description{
        display: none;
    }
    .card{
        margin-left: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: unset;
        margin-left: 0px;
    }

    .card-content{
        width: 100%;     
        height: 150px;
        flex-direction: unset;
        margin-left: 15; 
        border-radius: 0;
    }    
    
    .card-img{
        max-width: 25%;
        height: 100%;
        margin-right: 10px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0

    }

    .card-title{
        font-size:19
    }
}
.contacts{
    height: auto;
   padding-bottom: 20px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-content: center;
}
.contact-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around   ;
}

.heading{ 
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input, textarea{
    width: 610px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: black;
    color:white;
    font-size: 17;
    padding:  5px 0 8px 8px;
}

form input{
    height: 35px;
}

textarea{
    height: 220px;
}




form button{    
    padding: 9px 22px;
    border-radius: 5px; 
    font-size: 17px;
    border-color: unset;
    background: var(--color-secondary);

    
}
@media(max-width: 720px){
    form input, textarea{
        width: 420px;
        font-size: 14px;
    }
    form button{
        padding: 6px 14px;
        font-size: 15;
    }
}

@media (max-width: 360px){
    form input, textarea{
       width: 320px
    }   
   }
form button:hover{
    background-color: #b58a00;
}


.footer{
    width: 100%; 
    background-color: var(--color-primary);
}


.lisense{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
    border-top: 2px solid var(--tertiary);

}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content

}


span, .footer-links{
    margin-top: 20px
}
.footer-link{
    text-decoration: none;
    margin-right: 20px

}


@media(max-width: 650px){
    .lisense{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer-link{
        margin: 0 15px; 
    }
}