{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeSaint</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/dokeibi.png' %}" type="image/x-icon">
</head>

<body>

 
 <div class="nav"> 

        <h2 class="name"><span class="text-gradient" >Shura</span></h2>
 
        <div class="navs"> 
  
               
                <div class="dropdown-content" id="myDropdown">
              <a href="#">Item 1</a>
              <a href="#">Item 2</a>
              <a href="#">Item 3</a>
            </div> 
            

            <a href="#home">HOME</a>
            <a href="#story">MY STORY</a>
            <a href="#skills">SKILLS</a>
            <a href="#projects">RESUME</a>
            <a href="#contacts">CONTACTS</a>
      
        </div>
    </div>
    <section class="index">
                
        <div class="intro">
            <div class="pretext">
                Hello world, I am
            </div> 
            <div class="main-text"><span class="text-gradient">Abdulhamid Usman</span></div>
            <div class="aftertext">
                I am a self-taught Web Developer with 3 years of experience specialized in
                <span class="text-gradient">Backend development</span>
            </div>
        </div> 
 
        </div>
    </section>




    
    <section class="about" id="story">
        <h1 class="heading">My Story</h1>

        <div class="story-container">

            <div style="display: flex; flex-direction: column; align-items: center;">
                <img class="dokeibi" src="{% static 'images/dokeibi.png' %}" alt="">
                <p style="margin-top: -20px; font-size: 18px; text-align: center;"><i></i></p>
            </div>
   

            <div class="about-text">
                    <p>Greetings! I'm Abdulhamid Usman, a web developer with approximately 2 years of learning and practical experience, specializing prominently in backend development.

                    </p>
                    <P>
                        Committed to continuous improvement, I actively engage with fellow developers, staying abreast of industry trends and refining my skills. Outside the digital realm, I enjoy strategic chess games, rejuvenating walks, and the harmonies of diverse music genres. I'm currently expanding my horizons by learning a new language.

                    </P>
                    <p>I am an adept Python developer that utilizes Django for backend development. Actively broadening my skill set, I am currently learning web scraping and automation with scrapy and selenium.</p>
                    <p>
                        I'm eager to contribute my expertise and collaborate on impactful projects. Let's connect and explore the possibilities!</p>
            </div>
        </div>
    </section>
    
    
    <section class="skills" id="skills">
        <h1 class="heading">Skills and Services</h1>

 
        <div class="skill-cards">
                
            {% for stack in techstack %}
            <div class="skill-card">
                <div class="skill-content">
                    <img class="skill-img" src="{{ stack.icon.url }}">
                    <h3 class="skill-title">{{stack.title}}</h3>
                    <p class="skill-des">{{stack.description}}</p>
                </div> 
           
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Work experience-->
    <section class="experience">
        <div class="heading">Work experience</div>
        <div style="display: flex; flex-wrap:wrap; margin: 0 25px">
            {% for e in experience %}
            <div class="experience-container">
                <h4 class="position">{{e.job}}</h4>
                <h5 class="organization">{{e.orgaizationm}} | {{e.start}} - {{e.end}}</h5>
                <ul>
                    <li class="achievement">{{e.description}}</li>
                </ul>
            </div>
            {% endfor %}
        </div>

    </section>

  <!--PROJECT SECTION -->
  <!--PROJECT SECTION ENDS -->
        


      <section class="contacts">
        <h1 class="heading">Contact and Links</h1>
        <div class="contact-container">

            <form action=""> 
                <h3>Email me :)</h3>
                <input type="text" class="mail" name="" id="" placeholder="Your Email">
                <input type="text" name="" id="" placeholder="Title">
                <textarea name="" id="" cols="" rows="20" placeholder="Null bound I can limit infinity"></textarea>
                <button type="submit"><strong>Submit</strong></button>
            </form>
    
            <div class="handles">
                <h4 class="heading" style="font-size: 19;">Where To Find Me</h4>
                <div class="socials">
                    
                    <a href="http://github.com/Hamidusman" target="_blank" rel="noopener noreferrer">
                        <img class="handle-logo" src="{% static 'svg/github.svg' %}" alt="">
                        
                    <a href="https://www.linkedin.com/in/abdulhamid-omeiza-usman/" target="_blank" rel="noopener noreferrer">
                        
                        <img class="handle-logo" src="{% static 'svg/linkedin.svg' %}" alt="">
                    </a>
                    <a href="mailto:abdulhamidusman218@gmail.com">
                        <img class="handle-logo" src="{% static 'svg/gmail.svg' %}" alt="">
                    </a>
                    <span class="fab icon-gmail fa-2x"></span>
                </div>
            </div>
    
        </div>
      </section>

</body>

</html>

<script src="assets/js/time-of-day.js"></script>
<script src="assets/js/cut.js"></script>
