{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Hamid</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/dokeibi.png' %}" type="image/x-icon">
</head>

<body>

  
  
    <nav> 
            <div class="navs">
                

                    <a href="#home">Home</a>
                    <a href="#story">About</a>
                    <a href="#experience">Experience</a>
                    <a href="#projects">Projects</a> 
                        
            </div> 
        </nav>
<script type="text/javascript">
    window.addEventListener("scroll",function(){
        var nav = document.querySelector(".navs");
        nav.classList.toggle("sticky", window.scrollY > 40);
        
    });
</script>
<main>
        
    <section class="index" id="home">
                
        <div class="intro container">
            <div class="pretext">
                Hallo, I'm Hamid
            </div>     
            <div class="aftertext container"> 
                <span class="text-gradient">A Digital Sorcerer</span>
            </div>
            <p class="description">Passionate about developing effecient and robust technologies.</p>
        </div> 
 
        </div>
    </section>




    
    <section class="about " id="story">
        <h1 class="heading container">About</h1>

        <div class="story-container container">
<!--
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img id="dokeibi" class="dokeibi" src="{% static 'images/dokeibi.png' %}" alt=""> 
            </div>
        -->
   

            <div class="about-text">
                    <p>Greetings! I am Hamid, a web developer with approximately 2 years of learning and practical experience, specializing prominently in backend development.

                    </p>
                    <P>
                        During Mid-2020, I got myself involved in programming in Python. And things have only gotten better and more fun.  As an adept developer, I am mainly involved in backend development with Django and have a hand for frontend development as well. I am also familiar with web scraping and automation with Scrapy and Selenium.</p>
                    <p>
                        I have an interest in music, with my favourite artist being Fabvl. I also have interest in anime, history, action/horror movies, sport and video games. With my favourite game genre being souls-like.</p>
            </div>
        </div>
    </section>
    
    
    <section class="skills" id="skills">
        <h1 class="heading container">Skillset</h1>


 
        <div class="skill-cards container">
            {% for t in techstack %}
            <div class="skill">{{t.title}}</div>
            {% endfor %}
                
        </div>
    </section>

    
    <!-- Work experience-->
    <section class="experience" id="experience">
        <div class="heading container">Experience</div>
        
        <div class="experience-container d-flex container">
            <div class="timeline">May 2024 - Present</div>
            <div class="work-info d-flex flex-column">
                <p class="organisation">Datium Tech</p>
                <p class="position">Backend Developer</p>

                <p class="job-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita voluptatibus sapiente nobis et accusamus, quisquam cum maxime illo? Dolorem, perspiciatis ipsum saepe sequi incidunt exercitationem maiores quasi architecto sapiente voluptas.</p>
                
                <div class="skill">Python</div>
            </div>
        </div>

        <div class="experience-container d-flex container">
            <div class="timeline">Mar 2023 - Jun, 2024</div>
            <div class="work-info d-flex flex-column">
                <p class="organisation">Pistis TechHub</p>
                <p class="position">Backend Developer</p>

                <p class="job-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita voluptatibus sapiente nobis et accusamus, quisquam cum maxime illo? Dolorem, perspiciatis ipsum saepe sequi incidunt exercitationem maiores quasi architecto sapiente voluptas.</p>
                
                <div class="skill">Python</div>
            </div>
        </div>

    </section>

    
    
    <section class="projects" id="projects">
        <h1 class="heading container">Projects</h1>

 
        <div class="project-cards container mb-5">
                  
            
             
            <div class="project-card">
                <div class="project-content">
                    
                    <p class="project-title">venom</p> 
                    <h5 class="project-stack">Python, Scrapy selenium</h5>
                    <div class="project-links"> 
                        <a href="http://" class="project-link" target="_blank" rel="noopener noreferrer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 1792 1792" id="Github">
                                <path d="M1664 896q0 251-146.5 451.5T1139 1625q-27 5-39.5-7t-12.5-30v-211q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105T1386 856q0-121-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27T578 459.5 492 446q-44 113-7 204-79 85-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-40 36-49 103-21 10-45 15t-57 5-65.5-21.5T484 1274q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 89t.5 54q0 18-13 30t-40 7q-232-77-378.5-277.5T128 896q0-209 103-385.5T510.5 231 896 128t385.5 103T1561 510.5 1664 896z" fill="#bbbbbb" class="color000000 svgShape"></path>
                            </svg>
                        </a>
                        <a href="" target="_blank" class="project-link">
                            
                            <svg xmlns="http://www.w3.org/2000/svg"  width="35" height="35"  viewBox="0 0 640 512"><path fill="#bbbbbb" d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg>
                        </a>
                        <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    </div>
                </div> 
        
            </div>
            
            
            
                 
            
        </div>
    </section>

  <!--PROJECT SECTION -->
  <!--PROJECT SECTION ENDS -->
        


      <section class="contacts" id="contact">
          <!--
        <h1 class="heading">Contact and Links</h1>
        <div class="contact-container">

            <form action="">
                <h3>Email me :)</h3>
                {% csrf_token %}
                {% if form.errors %}
                  <div class="error">
                    **There were errors in your form:**
                    <ul>
                      {% for error in form.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                <form method="post">
                  {% csrf_token %}  {{ form.as_p }}
                  <button type="submit">Send Message</button>
                <button type="submit"><strong>Submit</strong></button>
            </form>

      -->
      </section>
      <section class="footer">
        <div class="lisense container d-flex justify-content-between">
                <span>© 2024 Shura IO</span>
            
            <div class="footer-links ">
                <a href="https://github.com/Hamidusman" target="_blank" class="footer-link" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="Github">
                        <path fill="#bbbbbb" d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z" class="color5c6bc0 svgShape"></path>
                    </svg>
                </a>

                <a href="http://linkedin.com/in/abdulhamid-omeiza-usman/" class="footer-link" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512">
                        <path fill="#bbbbbb" d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/>
                    </svg>
                </a>

                <a href="mailto:http://www.abdulhamidusman218@gmail.com" class="footer-link" class="footer-link" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                        <path fill="#bbbbbb" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                    </svg>
                </a>
            </div>
        </div>
      </section>

</body>

</html>

<script src="{% static 'js/app.js' %}"></script>
